@charset "utf-8";
/* CSS Document */


.ui-footer h1.ui-title{
	font-size: 11px;
	margin-top: 0px;
	margin-right: 0.06em;
	margin-left: 0.06em;
	margin-bottom: 0px;
}
#page div p img header{
	text-align: center;


}
